<div class="container-fluid">

    <div class="container-fluid">
            <h3>Common Recipes</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">View Ingredients</th>
                    <th scope="col">Save Recipe</th>
                </tr>
            </thead>
            <tbody>
                {{#each recipes}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        <form action="/view_ingredients" method="get">
                            <button class="btn btn-primary" name="recipe_id" value={{this.id}}>View Ingredients</button>
                        </form>
                    </td>
                    <td>
                        {{#if this.in_book}}
                             <a href="/my_recipes"><button class="btn btn-light">View in Recipe Book</button></a>
                        {{else}}
                             <button class="btn btn-primary save_recipe_button" name="recipe_id" id={{this.id}} value={{this.id}} data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-content="<a href='/my_recipes'>Go to Recipe Book</a><br/><a href='/view_ingredients?recipe_id={{this.id}}'>Go to {{this.name}}"><span id="save_loader_{{this.id}}" role="status" aria-hidden="true"></span><span id="save_text_{{this.id}}">Save Recipe</span></button>
                        {{/if}}    
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
        
    <script src="choose_recipe.js"></script>
</div>