<div class="container-fluid">
    <h3>Recipe: {{recipe}}</h3>
    <h3>Ingredient: {{ingredient}}</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Substitute</th>
                <th scope="col">Ethical Impact</th>
                <th scope="col">Choose Substitute</th>
            </tr>
        </thead>
        <tbody>
            {{#each substitutes}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.impact}}</td>
                <td>
                    <form class="form-inline" action="/make_substitution" method="get">
                            <input type="hidden" name="ingredient" value="{{../ingredient}}">
                            <input type="hidden" name="recipe" value="{{../recipe}}">
                            <input type="text" name="new_name" placeholder="new recipe name">
                            <button class="btn btn-primary" name="substitute" value="{{this.name}}">Choose Substitute</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>