<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>View Substitutes</h1>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12">
            <a href='/view_ingredients?recipe_id={{recipe.id}}'>Return to Ingredients</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>Recipe: {{recipe.name}}</h3>
            <h3>Ingredient: {{ingredient.name}}</h3>

            {{#if message}}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {{/if}}

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Substitute</th>
                        <th scope="col">Ethical Impact</th>
                        <th scope="col">New Recipe Name</th>
                        <th scope="col">Choose Substitute</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each substitutes}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.impact}}</td>
                        <form class="form-inline" action="/make_substitution" method="get">
                            <td>

                                <input type="hidden" name="ingredient" value="{{../ingredient.id}}">
                                <input type="hidden" name="recipe" value="{{../recipe.id}}">
                                <input type="text" name="new_name" placeholder="new recipe name">


                            </td>
                            <td>
                                <button class="btn btn-primary" name="substitute" value="{{this.id}}">Choose
                                    Substitute</button>
                            </td>
                        </form>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>