<div class="container-fluid">
    <h3>{{recipe}}</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Ethical Impact</th>
                <th scope="col">View Substitutes</th>
            </tr>
        </thead>
        <tbody>
            {{#each ingredients}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.impact}}</td>
                <td>
                    <form action="/view_substitutes" method="get">
                            <input type="hidden" name="recipe" value={{recipe}}>
                            <button class="btn btn-primary" name="ingredient" value="{{this.name}}">View Substitutes</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>